# after removing isolated bridge 
table ip filter {
	chain NETBIRD-RT-FWD-IN {
		ct state related,established counter packets 0 bytes 0 accept
	}

	chain NETBIRD-RT-FWD-OUT {
		ct state related,established counter packets 0 bytes 0 accept
	}

	chain NETBIRD-ACL-INPUT {
		counter packets 9 bytes 540 accept
	}

	chain INPUT {
		type filter hook input priority filter; policy accept;
		iifname "wt0" ct state related,established counter packets 7191 bytes 521226 accept
		iifname "wt0" counter packets 9 bytes 540 jump NETBIRD-ACL-INPUT
		iifname "wt0" counter packets 0 bytes 0 drop
	}

	chain FORWARD {
		type filter hook forward priority filter; policy accept;
		iifname "wt0" counter packets 0 bytes 0 jump NETBIRD-RT-FWD-IN
		mark 0x1bd20 counter packets 0 bytes 0 accept
		oifname "wt0" counter packets 0 bytes 0 jump NETBIRD-RT-FWD-OUT
		iifname "wt0" counter packets 0 bytes 0 drop
	}
}
table ip mangle {
	chain NETBIRD-RT-PRE {
		iifname "wt0" fib daddr type local counter packets 7200 bytes 521766 meta mark set 0x1bd20 
	}

	chain PREROUTING {
		type filter hook prerouting priority mangle; policy accept;
		counter packets 425688 bytes 405554197 jump NETBIRD-RT-PRE
		iifname "wt0" ct state new counter packets 9 bytes 540 ct mark set 0x1bd10 
	}

	chain POSTROUTING {
		type filter hook postrouting priority mangle; policy accept;
		oifname "wt0" ct state new counter packets 0 bytes 0 ct mark set 0x1bd11 
	}
}
table ip nat {
	chain NETBIRD-RT-NAT {
		oifname != "lo" mark 0x1bd21 counter packets 0 bytes 0 masquerade 
		oifname "wt0" mark 0x1bd22 counter packets 0 bytes 0 masquerade 
	}

	chain NETBIRD-RT-RDR {
	}

	chain POSTROUTING {
		type nat hook postrouting priority srcnat; policy accept;
		counter packets 1529 bytes 108458 jump NETBIRD-RT-NAT
	}

	chain PREROUTING {
		type nat hook prerouting priority dstnat; policy accept;
		counter packets 257840 bytes 11369005 jump NETBIRD-RT-RDR
	}
}
table inet incus {
	chain pstrt.incusbr0 {
		type nat hook postrouting priority srcnat; policy accept;
		ip saddr 10.89.247.0/24 ip daddr != 10.89.247.0/24 masquerade
		ip6 saddr fd42:c2d1:64e9:ef4e::/64 ip6 daddr != fd42:c2d1:64e9:ef4e::/64 masquerade
	}

	chain fwd.incusbr0 {
		type filter hook forward priority filter; policy accept;
		ip version 4 oifname "incusbr0" accept
		ip version 4 iifname "incusbr0" accept
		ip6 version 6 oifname "incusbr0" accept
		ip6 version 6 iifname "incusbr0" accept
	}

	chain in.incusbr0 {
		type filter hook input priority filter; policy accept;
		iifname "incusbr0" tcp dport 53 accept
		iifname "incusbr0" udp dport 53 accept
		iifname "incusbr0" icmp type { destination-unreachable, time-exceeded, parameter-problem } accept
		iifname "incusbr0" udp dport 67 accept
		iifname "incusbr0" icmpv6 type { destination-unreachable, packet-too-big, time-exceeded, parameter-problem, nd-router-solicit, nd-neighbor-solicit, nd-neighbor-advert, mld2-listener-report } accept
		iifname "incusbr0" udp dport 547 accept
	}

	chain out.incusbr0 {
		type filter hook output priority filter; policy accept;
		oifname "incusbr0" tcp sport 53 accept
		oifname "incusbr0" udp sport 53 accept
		oifname "incusbr0" icmp type { destination-unreachable, time-exceeded, parameter-problem } accept
		oifname "incusbr0" udp sport 67 accept
		oifname "incusbr0" icmpv6 type { destination-unreachable, packet-too-big, time-exceeded, parameter-problem, echo-request, nd-router-advert, nd-neighbor-solicit, nd-neighbor-advert, mld2-listener-report } accept
		oifname "incusbr0" udp sport 547 accept
	}
}
table inet chuck-stack {
	chain input {
		type filter hook input priority filter; policy accept;
		ct state established,related accept
		iifname "lo" accept
		iifname "bond0*" drop
		iifname "enp1s0f*" drop
	}
}
table bridge incus {
}
